#root {
  max-width: 100%;
  /* Optional if you want full width */
  margin: 0;
  padding: 0;
  text-align: left;
  /* Optional, adjust based on design */
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
    background-color: black;
}

.app-container {
  width: 100%;
  /* Full width for the app */
  display: flex;
  flex-direction: column;
  align-items: center;

}